
body
{

    background:linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),  url(../Images/banner.jpg) no-repeat center center fixed;
	background-size: cover;
		
	
    
}
header
{   
    
    
    font-size: 200%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: auto;
    max-height: 10%;
	margin-top: 2%;
	margin-bottom:5%;
	color:white;
    text-align: center;
    text-shadow: 2px 2px black;
}
.form{
	max-width:100%;
	
	
	/*text-align:center;*/
	max-height: 100%;
	
	padding:1.5em;
    /*margin-left:35%;
    margin-right:35%;*/
    margin-top:1%;
}
.formtext
{
	background-color:rgba(0,0,0,0.6);
	 max-height: 100%;
	
	font-size:170%;
	border-radius:25px 25px 0 0;
	/*margin-left:35%;
	border-style:hidden;
    margin-right:35%;margin-top:20%;*/
    
    text-align:center;
    color:white;
     padding:1.5em;
     
}
.forminput{
  	
    background-color:white;	
    border-style:hidden;
	border-radius: 0 0 25px 25px;
  max-height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 80%;
    color: saddlebrown;
    padding:1em;
    font-weight: bold;
    
    	
   
}
input,select {
    border: 2px solid #555555		; 
    -webkit-box-shadow: 
      inset 0 0 4px  rgbq(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: .8em;
    background: rgba(255,255,255,0.5);
    margin: .8em;
    min-width:50%;   	 
   	max-width:100%;
    text-size:100%;
}
button {
   /* background-color: #555;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 14px 15px;	
    margin: 8px 0;
    border-color: black;
    border-width: thick;
    cursor: pointer;
    width: 40%;
*/
background: #4CAF50;
	max-width:100%;
    min-width:20%;	
    border: none;
    color: #fff;
    padding: 14px 40px;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    

 margin-bottom:3%;


   
}
button:hover{
	 background: #e7e7e7;
    color: #4CAF50;
    letter-spacing: 2px;
}
table {
	text-align:center;
    border-collapse: collapse;
    max-width: 100%;
    margin:auto;	
}

th, td {
    text-align:center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
.options{text-align:center;
	margin:auto;}
}
.formoptions{
	
	float:left;
	position:relative;
}