<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Proj1</display-name>
	<security-constraint>
    <web-resource-collection>
        <web-resource-name>securedapp</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
</security-constraint>
	<servlet>
		<description>
		</description>
		<display-name>MyServlet</display-name>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.proj1.pack.MyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.proj1.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewRequest</display-name>
		<servlet-name>NewRequest</servlet-name>
		<servlet-class>com.proj1.NewRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewRequest</display-name>
		<servlet-name>ViewRequest</servlet-name>
		<servlet-class>com.proj1.ViewRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>dept_populate</display-name>
		<servlet-name>dept_populate</servlet-name>
		<servlet-class>com.proj1.dept_populate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApproveRequest</display-name>
		<servlet-name>ApproveRequest</servlet-name>
		<servlet-class>com.proj1.ApproveRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAllRequest</display-name>
		<servlet-name>ViewAllRequest</servlet-name>
		<servlet-class>com.proj1.ViewAllRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/MyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewRequest</servlet-name>
		<url-pattern>/NewRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewRequest</servlet-name>
		<url-pattern>/ViewRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dept_populate</servlet-name>
		<url-pattern>/dept_populate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApproveRequest</servlet-name>
		<url-pattern>/ApproveRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllRequest</servlet-name>
		<url-pattern>/ViewAllRequest</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
